.feed {
    flex: 5.5
}

.feedWrapper {
    padding: 20px;
}

.up_button {
    position: relative;
    background-color: #00d0ce;
    border: none;
    font-size: 16px;
    color: #FFFFFF;
    padding: 10px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.up_button:after {
    content: "";
    background: #ffff;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.up_button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}